[Desktop Entry]
Encoding=UTF-8
Name=Minotaur
Comment=A KDE Plasma 5 Plasmoid for monitoring cryptocurrency exchange rates on various exchanges
Type=Service

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Jan Keith Darunday
X-KDE-PluginInfo-Email=jkcdarunday@gmail.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=com.keithdarunday.minotaur
X-KDE-PluginInfo-Version=0.2.0
X-KDE-PluginInfo-Website=https://github.com/jkcdarunday/minotaur-plasmoid
X-KDE-PluginInfo-Category=Online Services

X-KDE-ServiceTypes=Plasma/Applet
